<div >
	<div data-ng-show="HomeCookieStatus==-1" >
        <p>Login to get your greetings</p>
	</div>
	
	<div data-ng-hide="HomeCookieStatus==-1">
    	<h1>MY Home Page</h1>
    	<p>	Welcome {{HomeCookieStatus}}</p>
	</div>

</div>
