            <div >  
              <div class="modal-header">
                  <h3 class="modal-title">Im a modal!</h3>
              </div>
              <div class="modal-body">
               <!--<ul>
                      <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                      </li>
                  </ul>-->
                Selected: <b>{{ selected.item }}</b><br>

                Email: <input type="text" data-ng-model="Email"> <br>
                Password: <input type="text" data-ng-model="Password"><br> 
                Designation: <input type="text" data-ng-model="Designation"><br> 

              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" ng-click="ok()">OK</button>
                  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              </div>
            </div>