<div>
 				<div class="container" >
 					<div class="jumbotron" >
						<H3> This is empApp  </H3><!--{{NavCookieStatus}}{{CookieStatus.status}}-->
					</div>	
				</div>

				<nav class="list-inline" >
					<p  data-ng-hide="NavCookieStatus==-1" align="center">
						<span>	<a ui-sref="home"><kbd>Home</kbd>   </a>	</span>
						<span >	<a ui-sref="AddEmp" > <kbd>Add Employ</kbd>  </a>	</span>
				
				 		<a href="#" class="btn btn-danger btn-xs" data-ng-click="LogoutFunc()"> <span class="glyphicon glyphicon-off"></span>  Log Out</a>	

						<!--ui-sref="LogOut"-->
					</p>

					<p  data-ng-show="NavCookieStatus==-1" align="center"> 	<a  ui-sref="LogOut"><kbd>LogIn</kbd></a>	</p>
				</nav>	
			
			


			<div class="container">
				<div class="jumbotron" align="center">
    				<div ui-view></div>
				</div>
			</div>	
</div>
